<header class="header" id="header">
		<!--header-start-->
		<div class="container" >
			<figure class="logo animated fadeInDown delay-07s" >
				<a a href="https://vk.com/gerald95" target="_blank"><img src="img/log.png"></a>
			</figure>
			<h1 class="animated fadeInDown delay-07s">Добро пожаловать на мою персональную страницу</h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li>Тут вы сможете узнать о том, какие услуги я предоставляю, и о том, как связаться со мной.</li>
			</ul>
			<a class="link animated fadeInUp delay-1s servicelink" href="#service">Посмотреть</a>
		</div>
	</header>
	<!--header-end-->

	<nav class="main-nav-outer" id="test">
		<!--main-nav-start-->
		<div class="container">
			<ul class="main-nav">
				<li><a href="#header">Начальная страница</a></li>
				<li><a href="#service">Услуги</a></li>
				<li class="small-logo"><a href="#header"><img src="img/remont-pk.svg" alt="" height="50px" width="50px"></a></li>
				<li><a href="#About_me">Обо мне</a></li>
				<li><a href="#contact">Контакты</a></li>
			</ul>
			<a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
		</div>
	</nav>
	<!--main-nav-end-->



	<section class="main-section" id="service">
		<!--main-section-start-->
		<div class="container">
			<h2>Услуги</h2>
			<h6>Я предоставляю различный услуги в компьютерной сфере, вот только некоторые из них:</h6>
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa-medkit"></i>
						</div>
						<div class="service-list-col2">
							<h3>Ремонт компьютеров и ноутбуков</h3>
							<p>Разборка, чистка, настройка, оптимизация, удаление вирусов.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa-apple"></i>
						</div>
						<div class="service-list-col2">
							<h3>Установка и настройка програмного обеспечения</h3>
							<p>Установка операционной системы, драйверов, программ, установка и настройка периферии.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa-gear"></i>
						</div>
						<div class="service-list-col2">
							<h3>Создание проводной и беспроводной сети</h3>
							<p>Создание сети по средствам кабеля, коммутатора, маршрутизатора, wi-fi. Установка подключения к уже имеющейся сети. Проверка wi-fi сети на уязвимости.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa-paw"></i>
						</div>
						<div class="service-list-col2">
							<h3>Создание одностраничных сайтов</h3>
							<p>Создание простого сайта, заливка его на хостинг, поддержка сайта.</p>
						</div>
					</div>
					
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img src="img/macbook-pro.png" alt="">
				</figure>
				
			</div>
		</div>
	</section>
	<!--main-section-end-->



	<section class="main-section alabaster" id="About_me">
		<!--main-section alabaster-start-->
		<div class="container">
			<div class="row">
				<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="img/iphone.png" alt="">
				</figure>
				<div class="col-lg-7 col-sm-8 featured-work">
					<h2>Обо мне</h2>
					<P class="padding-b">С детства я увлекался компьютерами, и всем, что с ними связанно, и к настоящему времени много добился:</P>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<img src="img/rksi.jpg" alt="" class="round">
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>Законченное средне-специальное образование</h3>
							<p>Я закончил Ростовский колледж связи и информатики по специальности "Техническое обслуживание средств вычислительной техники и компьютерных сетей". </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<img src="img/sfedu.png" alt="" class="round">
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>Незаконченное высшее образование</h3>
							<p>В настоящий момент я учусь на третьем курсе ИТА ЮФУ, Институт компьютерных технологий и информационной безопасности, по специальности "Информатика и вычислительная техника". </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<img src="img/gb.png" alt="" class="round">
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>Множество оконченных интернет-курсов</h3>
							<p>За все время я прошел очень большое множество интернет курсов на таких популярных платформах, как GeekBrains. </p>
						</div>
					</div>
					<a class="Learn-More" href="#">Learn More</a>
				</div>
			</div>
		</div>
	</section>
	<!--main-section alabaster-end-->


	<section class="business-talking">
		<!--business-talking-start-->
		<div class="container">
			<h2>
				<a class="btn btn-primary btn-lg" href="tel:89001204757">Позвонить! </a>
			</h2>
		</div>
	</section>
	<!--business-talking-end-->
	<div class="container">
		<section class="main-section contact" id="contact">

			<div class="row">
				<div class="col-lg-6 col-sm-7 wow fadeInLeft">
					<div class="contact-info-box address clearfix">
						<h3><i class=" icon-map-marker"></i>Адресс:</h3>
						<span>г. Таганрог<br>г. Ростов-на-Дону</span>
					</div>
					<div class="contact-info-box phone clearfix">
						<h3><i class="fa-phone"></i>Телефон:</h3>
						<span>+7-900-120-47-57</span>
					</div>
					<div class="contact-info-box email clearfix">
						<h3><i class="fa-pencil"></i>email:</h3>
						<span>vniderman@stud.rksi.ru</span>
					</div>

				
				</div>
			
			</div>
		</section>
    </div>